<div class="demo-container">
  <div class="options">
    <div class="caption">Options</div>
    <div class="dx-fieldset">
      <div class="dx-field">
        <div class="dx-field-label">Editing Mode</div>
        <div class="dx-field-value">
          <dx-select-box
            [items]="editingModes"
            displayExpr="text"
            valueExpr="value"
            [(value)]="editingMode"
            (onValueChanged)="changeEditingMode($event)"
          >
          </dx-select-box>
        </div>
      </div>
    </div>
  </div>

  <dx-data-grid
    #grid
    [dataSource]="employees"
    keyExpr="ID"
    [showBorders]="true"
    (onInitNewRow)="onInitNewRow($event)"
    (onEditorPreparing)="onEditorPreparing($event)"
  >
    <dxo-data-grid-editing
      mode="row"
      [allowUpdating]="true"
      [allowAdding]="true"
    >
    </dxo-data-grid-editing>
    <dxo-data-grid-paging [enabled]="false"> </dxo-data-grid-paging>

    <dxi-data-grid-column dataField="FirstName"></dxi-data-grid-column>

    <dxi-data-grid-column dataField="BirthDate" dataType="date">
      <dxi-data-grid-validation-rule
        type="required"
      ></dxi-data-grid-validation-rule>
    </dxi-data-grid-column>

    <dxi-data-grid-column dataField="HireDate" dataType="date">
      <dxi-data-grid-validation-rule
        type="required"
      ></dxi-data-grid-validation-rule>
      <dxi-data-grid-validation-rule
        type="custom"
        message="Hire date cannot be earlier than birth date"
        [reevaluate]="true"
        [validationCallback]="hireDateValidationCallback"
      ></dxi-data-grid-validation-rule>
    </dxi-data-grid-column>
  </dx-data-grid>
</div>
